{% extends 'professor_template/tab_disciplina_template.html' %}
{% block nome_disciplina %}
  <h1>{{disciplina.nome}}</h1>
{% endblock nome_disciplina %}
{% block alunos_disciplina_tab_content %}
{% load static %}

{% load newvar %}

{% newvar as lista_alunos %}
    <div class="overflow-auto mt-4" >
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Aluno</th>
                {% comment %} TODO: Substituir pelas aulas {% endcomment %}
                {% for data in datas_faltas %}
                    <th scope="col">{{data.data_presenca}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
                {% for faltas_aluno in faltas_alunos %}
                    <tr>
                        <th scope="row">{{faltas_aluno.0.diario_alunos_fk.aluno_fk.cadastro_fk.matricula}}</th>
                        <td>{{faltas_aluno.0.diario_alunos_fk.aluno_fk.cadastro_fk.nome}}</td>
                        
                        {% for falta in faltas_aluno %}
                            <td>
                                <a onclick="mudaPresenca(event)"
                                    class= "{% if falta.presenca == 1 %}text-blue{% else %}text-red{% endif %}"
                                    >
                                    <span>        
                                        {% if falta.presenca == 1 %}
                                            Presença
                                        {% else %}
                                            Falta
                                        {% endif %}
                                    </span>
                                </a>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function mudaPresenca(event){
            event.preventDefault();
            if( event.target.innerText === "Presença"){
                event.target.innerText = "Falta";
                event.target.classList.remove("text-blue")
                event.target.classList.add("text-red")
            } else if( event.target.innerText === "Falta"){
                event.target.innerText = "Presença";
                event.target.classList.remove("text-red")
                event.target.classList.add("text-blue")
            }
        }
    </script>
{% endblock alunos_disciplina_tab_content %}
