{% extends 'professor_template/tab_disciplina_template.html' %}

{% block nome_disciplina %}
  <h1>{{disciplina.nome}}</h1>
{% endblock nome_disciplina %}
{% block aulas_disciplina_tab_content %}
    {% load static %} 
    {% if qtd_aulas == 0 %}
      <h2>Ainda não há aulas registradas para este curso</h2>
    {% else %}
      <ul class="list-group list-group-flush container-sm mt-4">
        {% for aula in aulas %}
            <li class="list-group-item">
                <div class="row align-items-start">
                    <div class="col-1">
                        {{aula.ordem_aula}}
                    </div>
                    <div class="col-4">
                        {{aula.data_aula}}
                    </div>
                    <div class="col-6">
                        {{aula.descricao}}
                    </div>
                </div>
            </li>      
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Button trigger modal -->
    <button class="btn btn-info mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#aula-modal">Adicionar nova aula</button>

    <!--============== Modal ===============-->
    <div class="modal fade" id="aula-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Nova aula</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
              <!-- Form -->
              {% comment %} <form action="/" class="row g-3 needs-validation" novalidate onsubmit="salvaNovaAula(event)"> {% endcomment %}
              <form action="" method="POST" class="row g-3 needs-validation">
                {% csrf_token %}
                
                {% comment %} 
                Atende ao critério de sucesso abaixo
                3.3.2 Labels or Instructions (https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=132%2C331%2C413%2C332#labels-or-instructions)
                https://www.w3.org/WAI/WCAG21/Techniques/general/G131.html {% endcomment %}
                <div class="form-floating mb-3">
                  <input id="aula_content" name="aula_content" type="text" class="form-control" required>
                  <label for="aula_content">Conteúdo (required)</label>     
                </div>
                <div class="form-floating mb-3">
                  <input id="aula_date" name="aula_date" type="date" class="form-control" required>
                  <label for="aula_date">Data da aula (required)</label>     
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <input type="submit" class="btn btn-primary" value="Salvar">
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
    </div>

    {% comment %} <script>
        function salvaNovaAula(event){
            event.preventDefault();
            let formAulaData = {};
            
            formAulaData.conteudo = document.querySelector("#aula-content").value;
            formAulaData.data = document.querySelector("#aula-date").value;
            
            {% url 'adiciona-aula' prof_matricula=professor.cadastro_fk.matricula disciplina_id=disciplina.codigo as adiciona_aula %}   

            axios.post({{adiciona_aula}}, formAulaData)
                .then()
                .catch(err => console.error(err));

            //Feito usando JQuery
            $('#aula-modal').modal('toggle');
        }
    </script> {% endcomment %}
{% endblock aulas_disciplina_tab_content %}
