{% extends 'professor_template/base_template.html' %}

{% block page_title %}
    <h1>Disciplinas</h1>
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            {% for diario in prof_diarios %}
                <div class="card">
                    <div class="card-body">
                        <a href="{{diario.disciplina_fk.codigo}}/dados" class="fs-1 link-info stretched-link">{{diario.disciplina_fk.nome}}</a>
                        <h3 class="fs-3">Curso: <span class="text-gray">{{diario.disciplina_fk.curso_fk.nome}}</span></h3>
                    </div>
                </div>
            {% endfor %}
        </div><!-- /.container-fluid -->
</section>

  {% endblock main_content %}